/* //current */
/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;
  --clr-grey: 0, 0%, 59%;

  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

@media (min-width: 560px) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }
}

@media (min-width: 1024px) {
  :root {
    /* Note: we use rem because that doesnt override user settings like px would */
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.55rem;
    --fs-400: 1.125rem;
    --fs-300: 0.875rem;
  }
}

/* ------------------- */
/* Kevin's Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */
body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-dark));
  line-height: 1.5;
  min-height: 100vh;
  grid-template-rows: min-content 1fr;
  display: grid;
  overflow-x: hidden;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility classes  */
/* ------------------- */

/* general */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

[hidden] {
  display: none !important;
}

/* Note: gives items inside container a margin between themselves, but no margin adjacent to the container
:where is used bc it has less specificity and will be easier to override */
.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
  outline: 1px solid red;
}

.container {
  padding: 0 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.skip-to-main {
  position: absolute;
  z-index: 9999;
  background: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
  padding: 0.5em 1em;
  margin-inline: auto;
  transform: translateY(-100%);
  transition: transform 250ms ease-in;
}

.skip-to-main:focus {
  transform: translateY(0);
}

/* colors */

.bg-dark {
  background-color: hsl(var(--clr-dark));
}
.bg-light {
  background-color: hsl(var(--clr-light));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-dark {
  color: hsl(var(--clr-dark));
}
.text-accent {
  color: hsl(var(--clr-light));
}
.text-white {
  color: hsl(var(--clr-white));
}

/* typography */

.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}
.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-0 {
  letter-spacing: 0px;
}
.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}
.no-border {
  border: none;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

/* END OF UTILITY CLASSES */
/* Typography */

.numbered-title {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 4.72px;
}

.numbered-title span {
  margin-right: 0.5em;
  font-weight: 700;
  color: hsl(var(--clr-white) / 0.25);
}

.name-only--crew {
  display: block;
  margin-top: 0.3em;
}

@media (min-width: 560px) {
  .member-name--crew {
    color: hsl(var(--clr-white) / 0.5);
  }
}

@media (min-width: 1024px) {
  .content--crew {
    line-height: 2;
  }

  .title--destination {
    font-size: 1.75rem;
  }

  .title--technology {
    font-size: clamp(2rem, 1rem + 2.202vw, 3.5rem);
  }
}

/* ------------------- */
/* Components   */
/* ------------------- */

.large-button {
  position: relative;
  display: inline-grid;
  z-index: 100;
  place-content: center;
  padding: 0 2em;
  border-radius: 50%;
  aspect-ratio: 1;
  text-decoration: none;
}

.large-button::after {
  content: "";
  position: absolute;
  background-color: hsl(var(--clr-white) / 0.15);
  display: grid;
  z-index: -1;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  border-radius: 50%;
  transition: transform 500ms ease-in, background-color 500ms;
}

.large-button:hover::after {
  background-color: hsl(var(--clr-white) / 0.45);
  transform: scale(1.5);
}

/* Primary */

.logo {
  margin: 2rem clamp(1.5rem, 5vw, 3.5rem);
}

.primary-navigation {
  /* Note: the variables defined here can be accessed in the selector below */
  --underline-gap: 2rem;
  --gap: clamp(1rem, 3vw, 3.5rem);
  padding: 0;
  margin: 0;
  background: hsl(var(--clr-dark) / 0.95);
  list-style: none;
}

.secondary-navigation {
  --underline-gap: 0.5rem;
  list-style: none;
  padding: 0;
  justify-content: center;
}

@supports (backdrop-filter: blur(1.5rem)) {
  .primary-navigation {
    background: hsl(var(--clr-white) / 0.05);
    backdrop-filter: blur(1.5rem);
  }
}

.mobile-nav-toggle {
  display: none;
}

/* Mobile only */
@media (max-width: 560px) {
  .primary-navigation {
    /* Note: the variables defined here can be accessed in the selector below */
    --underline-gap: 0.5rem;
    position: fixed;
    inset: 0 0 0 25%;
    flex-direction: column;
    z-index: 1024;
    backdrop-filter: blur(17px);

    list-style: none;
    padding: min(20rem, 15vh) 2rem;
    margin: 0;
    transform: translateX(100%);
    transition: transform 500ms ease;
  }

  .primary-navigation li > a.text-white {
    padding: 0.125em;
    border: none;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 2000;
    right: 1.5rem;
    top: 3rem;
    background: transparent;
    background-image: url("assets/shared/icon-hamburger.svg");
    background-repeat: no-repeat;
    width: 1.5rem;
    aspect-ratio: 1;
    border: 0;
  }

  .numbered-float {
    display: none;
  }

  .content--destination {
    line-height: 1.7;
    padding-bottom: 2em;
    margin-bottom: 2em;
    border-bottom: hsl(var(--clr-white) / 0.1) solid 1px;
  }

  h1.title--destination {
    margin-bottom: 2.5em;
  }

  p.content--destination {
    margin-inline: 2em;
  }
}

.primary-header {
  justify-content: space-between;
  align-items: start;
}

@media (min-width: 560px) {
  .primary-navigation {
    padding-inline: clamp(2.25rem, 7vw, 6rem);
  }
}

@media (min-width: 560px) and (max-width: 1024px) {
  .numbered-float {
    display: none;
  }

  .large-button {
    margin-top: 2em;
  }

  h1.title--destination {
    grid-area: title;
    justify-self: start;
    margin-left: clamp(1.5rem, 5vw, 3.5rem);
  }

  .primary-navigation a {
    font-size: var(--fs-200);
  }

  .destination-meta.flex {
    flex-direction: row;
    border-top: hsl(var(--clr-white) / 0.1) solid 1px;
    margin-top: 3rem;
    padding: 2em 0 4em 0;
    justify-content: space-around;
  }

  .destination-meta p,
  .destination-meta span {
    overflow: hidden;
    white-space: nowrap;
    margin-top: 0.5em;
  }

  .primary-header {
    align-items: center;
    margin-bottom: 2.75em;
  }

  .underline-indicators a,
  .underline-indicators button,
  .dot-indicators button {
    --underline-gap: 2.75rem;
  }

  #secondary-navigation a {
    --underline-gap: 0.5rem;
  }
}

@media (min-width: 1024px) {
  img.logo {
    margin: 3em 4em;
  }

  .primary-header::before {
    content: "";
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    margin-right: -3em;
    background: hsl(var(--clr-white) / 0.25);
    order: 1;
    z-index: 10;
  }

  .primary-navigation-container {
    order: 1;
  }

  .primary-header {
    align-items: center;
    position: relative;
  }

  /* .primary-navigation {
    padding-inline: 4rem;
  } */

  .underline-indicators a,
  .underline-indicators button,
  .dot-indicators button {
    --underline-gap: 2rem;
  }
}

.underline-indicators a,
.underline-indicators button,
.dot-indicators button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  padding: var(--underline-gap, 1rem) 0;
  margin-right: var(--underline-margin, 1rem);
  border-bottom: 3px hsl(var(--clr-dark) / 0) solid;
}

.underline-indicators a.active,
.underline-indicators button[aria-selected="true"] {
  border-bottom: solid hsl(var(--clr-white)) 3px;
  color: solid hsl(var(--clr-white)) 3px;
}

.underline-indicators a:focus,
.underline-indicators a:hover,
.underline-indicators button:focus,
.underline-indicators button:hover {
  border-bottom: solid hsl(var(--clr-grey)) 3px;
}

.numbered-float {
  margin-right: 1em;
  font-weight: 700;
}

.numbered-float--destination,
.numbered-float--crew {
  margin-right: 1em;
  font-weight: 700;
  color: hsl(var(--clr-white) / 0.25);
}

.dot-indicators > button {
  --underline-margin: 0.8em;
  cursor: pointer;
  opacity: 0.17;
  aspect-ratio: 1;
  padding: 0.33em;
  border-radius: 50%;
  border: none;
}

.dot-indicators button:focus,
.dot-indicators button:hover {
  background-color: hsl(var(--clr-grey));
  opacity: 0.5;
}

.dot-indicators > button[aria-selected="true"] {
  background-color: hsl(var(--clr-white));
  opacity: 1;
}

.number-indicators button {
  cursor: pointer;
  color: white;
  display: grid;
  place-content: center;
  aspect-ratio: 1;
  padding: 0 1em;
  border-radius: 50%;
  border: hsl(var(--clr-grey)) 1px solid;
}

.number-indicators button:focus,
.number-indicators button:hover,
.number-indicators button:hover[aria-selected="true"] {
  border: white 1px solid;
}

.number-indicators button[aria-selected="true"] {
  background-color: hsl(var(--clr-white));
  opacity: 1;
  color: hsl(var(--clr-dark));
}

h1 span {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

/* ------------------- */
/* PAGE SPECIFIC       */
/* ------------------- */

body {
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* HOME BACKGROUND */

.home {
  background-image: url(assets/home/background-home-mobile.jpg);
}

/* Tablet */
@media (min-width: 560px) {
  .home {
    background-position: center center;
    background-image: url(assets/home/background-home-tablet.jpg);
  }
}

/* Desktop */
@media (min-width: 767px) {
  .home {
    background-image: url(assets/home/background-home-desktop.jpg);
  }
}

/* DESTINATION BACKGROUND */

.destination {
  background-image: url(assets/destination/background-destination-mobile.jpg);
}

/* Tablet */
@media (min-width: 560px) {
  .destination {
    background-position: center center;
    background-image: url(assets/destination/background-destination-tablet.jpg);
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .destination {
    background-image: url(assets/destination/background-destination-desktop.jpg);
  }
}

/* CREW BACKGROUND */

.crew {
  background-image: url(assets/crew/background-crew-mobile.jpg);
}

/* Tablet */
@media (min-width: 560px) {
  .crew {
    
    background-image: url(assets/crew/background-crew-tablet.jpg);
  }
}

/* Desktop */

@media (min-width: 1024px) {
  .crew {
    background-position: center center;
    background-image: url(assets/crew/background-crew-desktop.jpg);
  }
}

/* TECHNOLOGY BACKGROUND */

.technology {
  background-image: url(assets/technology/background-technology-mobile.jpg);
}

/* Tablet */
@media (min-width: 560px) {
  .technology {
    background-position: center center;
    background-image: url(assets/technology/background-technology-tablet.jpg);
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .technology {
    background-image: url(assets/technology/background-technology-desktop.jpg);
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .crew {
    background-image: url(assets/crew/background-crew-desktop.jpg);
  }

  .image--technology {
    visibility: hidden;
  }

  .div-image--technology {
    min-width: calc(100% + 4em);
    aspect-ratio: 1;
    background-size: cover;
    grid-area: img;
  }

  .div-image--technology.vehicle {
    background-image: url("./assets/technology/image-launch-vehicle-portrait.jpg");
  }

  .div-image--technology.spaceport {
    background-image: url("./assets/technology/image-spaceport-portrait.jpg");
  }

  .div-image--technology.space-capsule {
    background-image: url("./assets/technology/image-space-capsule-portrait.jpg");
  }
}

/* Layout */

.grid-container.homepage {
  display: grid;
  grid-template:
    auto
    1fr
    5em
    / 1.5em 1fr 1.5em;
}

.grid-container--crew {
  display: grid;
  grid-template:
    ". title ." min-content
    ". img ." min-content
    ". dots ." min-content
    ". name ." min-content
    ". article ." auto
    / 1.5em 1fr 1.5em;
  justify-items: center;
  row-gap: 1.75em;
}

.grid-container--technology {
  display: grid;
  padding-inline: 1.5em;
  padding-bottom: 4em;
  grid-template:
    "title" min-content
    "img" min-content
    "dots" min-content
    "article" auto;
  place-items: center;
}

h1.title--destination {
  grid-area: title;
}

.grid-container--destination > img {
  grid-area: planet;
}

nav.nav--destination {
  grid-area: nav;
  display: none;
}

article.destination-info {
  grid-area: article;
  width: fit-content;
}

.destination-meta {
  flex-direction: column;
}

.img--destination {
  display: block;
  margin: 0 auto;
  width: 43%;
}

.grid-item-content {
  grid-column: 2 / -2;
  text-align: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
}

.grid-item-button {
  grid-column: 2 / -2;
  grid-row-end: -2;
  justify-self: center;
  align-self: center;
}

.grid-container--crew .img--crew,
.grid-container--technology .image--technology {
  position: relative;
  grid-area: img;
  max-width: 50%;
  display: block;
}

.grid-container--technology img.image--technology {
  min-width: calc(100% + 4em);
  background-size: cover;
}

.grid-container--crew .content--crew,
.grid-container--technology article {
  grid-area: article;
  text-align: center;
}

.grid-container--technology article p {
  margin-top: 2em;
}

.grid-container--technology article {
  align-self: start;
}

.grid-container--crew h1,
.grid-container--technology h1 {
  grid-area: title;
}

.grid-container--technology h1 {
  margin-bottom: 3em;
  margin-left: clamp(0rem, 5vw, 1.5rem);
  justify-self: start;
}

.grid-container--crew .member-name--crew {
  grid-area: name;
  text-align: center;
}

.grid-container--crew .dot-indicators,
.grid-container--technology > .number-indicators {
  grid-area: dots;
}

.grid-container--technology > .number-indicators {
  margin: 2em 0 2em 0;
}

.grid-container * {
  max-width: clamp(50ch, 60ch, 100ch);
  place-items: center;
}

@media (min-width: 560px) {
  .grid-container--destination {
    display: grid;
    grid-template:
      "title title title" min-content
      "gap gap gap" 2em
      "planet planet planet" min-content
      "nav nav nav" min-content
      ". article ." min-content
      ". . ." 2em
      / 2em auto 2em;
    justify-items: center;
    row-gap: 10px;
  }

  .grid-container--crew {
    grid-template:
      ". title ." min-content
      ". name ." min-content
      ". article ." 6.25rem
      ". dots ." min-content
      ". img ." 1fr
      / 2.5em 1fr 2.5em;
  }

  .grid-container--crew > .img--crew {
    align-self: end;
  }
}

@media (min-width: 1024px) {
  .grid-container,
  .grid-container.homepage {
    text-align: left;
    grid-template:
      auto
      2em
      1fr
      7em
      / minmax(4rem, 1fr) minmax(0, 40rem) minmax(0, 40rem) minmax(2rem, 1fr);
    column-gap: var(--container-gap, 2rem);
  }

  .grid-container.homepage > *:first-child {
    grid-column: 2 / auto;
    grid-row: 3;
    align-self: end;
  }

  .grid-container.homepage > *:last-child {
    grid-column-start: 3;
  }

  .grid-container.homepage .grid-item-button {
    align-self: end;
  }

  .grid-container--destination {
    justify-items: start;
    align-items: start;
    grid-template-areas:
      ". title nav ."
      ". . . ."
      ". planet article ."
      ". . . ."
      ". . . .";
    grid-template-columns: 2em 1fr 1fr 2em;
  }

  .grid-container--crew {
    grid-template:
      ". title img" 1fr
      ". name img" auto
      ". article img" 1fr
      ". dots img" 25%
      / 8.8em calc(50% - 8.8em) 1fr;
    gap: 0;
    justify-items: start;
  }

  .grid-container--technology {
    padding: 2em 0 4em 9em;
    grid-template:
      "title img" min-content
      "article img"
      / 60% 40%;
  }

  .grid-container--technology .number-indicators {
    grid-area: article;
    flex-direction: column;
    justify-self: start;
    align-self: start;
    margin: 0;
  }

  .grid-container--technology article {
    grid-area: article;
    width: 70%;
    justify-self: end;
    margin-right: 3em;
    margin-top: -0.4em;
    text-align: start;
  }

  .grid-container--technology h1 {
    align-self: start;
    justify-self: start;
  }

  .grid-container--destination > img {
    width: 75%;
    align-self: end;
  }

  h1.title--destination {
    justify-self: start;
    margin-left: 2.5em;
  }

  article.destination-info {
    text-align: left;
  }

  nav.nav--destination {
    justify-self: start;
  }

  .destination-meta {
    flex-direction: row;
    margin-top: 1rem;
    padding: 0;
  }

  .content--destination {
    padding: 2em 0 3em 0;
    line-height: 1.7;
    border-bottom: hsl(var(--clr-white) / 0.1) solid 1px;
  }

  .grid-container--crew > .content--crew {
    text-align: left;
    align-self: center;
    max-width: 85%;
  }

  .grid-container--crew > h1 {
    align-self: center;
  }

  .grid-container--crew > .member-name--crew {
    text-align: left;
    align-self: end;
  }

  .grid-container--crew > .dot-indicators {
    align-self: center;
    --underline-gap: 2em;
  }

  .dot-indicators > button {
    padding: 0.45em;
    --underline-margin: 1.5em;
  }

  .grid-container--crew > .img--crew {
    align-self: end;
    max-width: 80%;
    margin-left: 3em;
  }
}

[role="tab"]:focus {
  outline: limegreen 2px solid;
}
